.header-background{
    background: #FFFBF0;
}
.h1-title2{
    color: #363958;
}
.h1-title{
    
    font-family: Bebas Neue;
}


.button-color{
    background-color: #A4BC46;
    border: 0px;
    border-radius: .5em;
}